<div class="container">
  <div class="page-header">
    <h1>About Pirl Testnetwork</h1>
  </div>
  <h3>Terms of Service</h3>
  <p>By using this pool you accept all possible risks, <span style="color:red">and no real Pirl is payed out</span>, related to experimental software usage.<br/>
     Pool owner can't compensate any irreversible losses, as this is a testing resource only/
  </p>
  <h3>Details</h3>
  <p>
    <ul>

      <li>TestNetwork pool to support Pirl development and help testing with us</li>
      <li>TestNetwork is testing the new difficulty alg</li>
      <li>TestNetwork is testing the new anti 51% attack counter measures (hulk)</li>

    </ul>
    <br>
  <A HREF = "https://docs.pirl.io/en/development/core/testnetwork/">Information document about this test network</A>  <br>
  <br>
  We are extremely happy to have your support, reading the messages in discord have done a lot for the team motivation during the entire operation.
<br>
<br>
#PirlTogetherStrong
<br>
 <br>
Yours,
<br>
Pirl Team<br>
<br>
<br>
 <A HREF = "https://pirl.io/en/">PirlWebsite</A><br>
 <br>
 <A HREF = "https://discord.gg/CeP2Y3R">PirlDiscord</A><br>
  </p>
</div>
