
[Unit]
Description=pirl-stratum9b


[Service]
Type=simple
ExecStart=/home/centos/pirltestpool/build/bin/open-pirl-pool /home/centos/pirltestpool/configs/stratum9b.json
User=centos

[Install]
WantedBy=multi-user.target

