[Unit]
Description=Pirlnode for Pool
After=network-online.target

[Service]
ExecStart=/usr/local/bin/pirl-linux-amd64-1.8.27-damocles --rpc  --rpcapi eth,net,web3 --unlock 0xyourpoolspayoutwallet --password /home/centos/.walletpassword  --ethstats "your testnet nodename:testnet@stats.pirl.io"

User=centos

[Install]
WantedBy=multi-user.target

